#
#
# Default folders
.pytest*
*__pycache__*
*.ipynb_check*
.vscode/
features/
database/
temp/
docs/images/nb_gallery/
docs/_build/latex/


#
#
# General file types
*.gz
*.pkl
*.mat